@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");

a {
  text-decoration: none !important;
}

::marker {
  content: none;
}

body {
  background-color: black !important;
  font-family: "Red Hat Display", sans-serif;
}

:root {
  --transition: all 400ms ease;
  --slider-padding: 5rem;
  --handle-size: 3rem;
  --img-gap: 0.25rem;
}

.area-padding-top {
  padding: 10px 10px 0px;
}

.text-top h3 {
  color: #fff;
  font-family: Futura;
  font-size: 30px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 4.233px;
  text-align: center;
}

.nav-item ul li a {
  color: white !important;
  background-color: #000 !important;
}

nav ul li a {
  color: white !important;
}

/* back to top */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
  font-size: 25px;
  background-color: red;
  border-radius: 4px;
  z-index: 99;
  visibility: hidden;
  transition: all 0.5s;
  color: white;
}

.back-to-top:hover {
  background: white;
  color: red;
}

.sticky-top {
  background-color: black !important;
}

.header {
  background-color: black !important;
}

.slider img {
  cursor: pointer;
}
