.dropdown-divider {
  border-top: 1px solid gray !important;
}

.carousel-caption {
  position: absolute;
  left: 10%;
  right: 75%;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  color: white;
  text-align: left;
}
.carousel-control-prev-icon {
  margin-left: -90px;
  margin-bottom: 0px;
}
.carousel-control-next-icon {
  margin-right: -90px;
  margin-bottom: 0px;
}
::marker {
  content: none !important;
}
.form-control {
  border-radius: 10px !important;
  border: 2px solid rgba(255, 255, 255, 0.1) !important;
  background: #000 !important;
}
.form-control::placeholder {
  color: white !important;
  margin-left: 3rem !important;
}
.form-control:only-of-type {
  color: white !important;
}
.navbar-brand {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .bg-image {
    display: none;
  }
}

.bg-image {
  background-repeat: no-repeat;
}

.text-cont2 {
  background-color: #19171d;
  padding-bottom: 50px;
}

.content1 {
  background-color: #19171d;
}

.nav-item ul li a {
  color: white !important;
  background-color: #000 !important;
}
.dropdown-menu {
  background-color: #000 !important;
}

.dropdown-menu a:hover {
  transition: var(--transition);
}

.text-title h1 {
  font-family: "Red Hat Display";
  font-size: 29.082px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.text-title p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Red Hat Display;
  font-size: 20.082px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
nav ul li a {
  color: white !important;
}

nav ul li a:hover {
  color: #dc3545 !important;
}

.image-top img {
  width: 100%;
  padding: 10px 0px 30px;
}

.preview {
  display: flex;
  align-items: center;
}
.btn-play {
  padding: 5px 10px 0px 10px;
  background-color: red;
  border-radius: 50px;
  width: max-content;
  order: 1;
  margin-right: 1rem;
}

.content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.text-view {
  order: 2;
}

.content3 {
  background-color: #19171d;
  padding-bottom: 50px;
}

.text-view1 {
  order: 2;
}

.text-view1 h2 {
  color: #fff;
  font-family: Red Hat Display;
  font-size: 20.082px;
  font-weight: 900 !important;
  line-height: normal;
  margin-bottom: 0 !important;
  width: max-content;
}

.text-view h1 {
  color: #fff;
  font-family: Red Hat Display;
  font-size: 29.082px;
  font-weight: 900 !important;
  line-height: normal;
  margin-bottom: 0 !important;
}

.text-view h2 {
  color: #fff;
  font-family: Red Hat Display;
  font-size: 20.082px;
  font-weight: 900 !important;
  line-height: normal;
  margin-bottom: 0 !important;
}

.footer ul li a {
  color: white !important;
}

.footerlink ul li a:hover {
    color: #dc3545 !important;
    transition: var(--transition);
}
